@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All User</h1>
<br />
<br />


<div class="row justify-content-center align-items-center m-5">
    <form asp-action="Index" class="row col-8 ">
        <div class="col-8">
            <input type="text" class="form-control" name="SearchInput" id="SearchInput" placeholder="Search By Name" />
        </div>
        <div class="col-4">
            <input type="submit" class="btn btn-success" value="Search" />
        </div>
    </form>
</div>


@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(D => D.Id)</th>
                <th>@Html.DisplayNameFor(D => D.UserName)</th>
                <th>@Html.DisplayNameFor(D => D.Email)</th>
                <th>@Html.DisplayNameFor(D => D.Address)</th>
                <th>@Html.DisplayNameFor(D => D.City)</th>
                <th>@Html.DisplayNameFor(D => D.Age)</th>
                <th>@Html.DisplayNameFor(D => D.Phone)</th>
                <th>@Html.DisplayNameFor(D => D.Roles)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.Address</td>
                    <td>@user.City</td>
                    <td>@user.Age</td>
                    <td>@user.Phone</td>

                    <td>@string.Join(" ", user.Roles)</td>
                    <partial name="_ButtonPartialView" model="@user.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There is No User:(</h3>
    </div>
}
